@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #23272A;
}

main{
    width: 100%;
    height: 10vh;
   
    
}
main h1{

    font-weight: 5000;
    font-size: 1.4em;
    text-align: center;
    color: #ffffff;
    margin-top: 10%;
    font-family: "Roboto", serif;
}

main p{
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 50%;
    color:#99AAb5;
    margin-top: 1%;
    font-family: "Roboto", serif;
}
.imp{
    color: aqua;
}
#e-mail{
    text-align: justify;
    color: #99AAb5;
    margin-left: 4%;
    font-size: 0.9em;
    margin-top: 5%;
    font-family: "Roboto", serif;
}
#senhaa{
    color: #99AAb5;
    text-align: justify;
    margin-left: 4% ;
    margin-top: 16%;
    font-size: 0.9em;
    font-family: "Roboto", serif;
}

.inpt{
    width: 90%;
    height: 48px;
    float: left;
    margin-left: 5%;
    outline: none;
    border: 0;
    margin-top: 11%;
    text-indent: 20px;
    font-size: 1.1em;
    background-color: #141516;
   border-radius: 15px;
   font-family: "Roboto", serif;
   color: #ffffff;
}
#s a{
    color: #6775f3;
    margin-left: 3%;
    text-align: left;
    font-size: 0.7em;
    font-family: "Roboto", serif;
    text-decoration: 0;

}
#gs a{
    color: #6775f3;
    margin-left: 3%;
    text-align: left;
    font-size: 0.7em;
    font-family: "Roboto", serif;
    text-decoration: 0;
    
}
#bootom {
    color: #ffffff;
    border-radius: 40px;
    width: 94%;
    height: 48px;
    background-color: #3e4af3;
    text-align: center;
    border: 0;
    margin-left: 3%;
    font-family: "Roboto", serif;
}

#entrarr {
    
    text-align: center;

  }

#entrarr a{
    font-size: 0.9em;
    font-family: "Roboto", serif;
    color: #6775f3;
    text-decoration: 0;
    
  }
